@charset "utf-8";

// Noto-Sans, Alrial Black
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700;900&display=swap');

// color
$mc: #0000FF;
$sc: #41FF08;
$mt: #000000;
$st: #ADADAD;
$sst: #E5E5E5;
$w: #ffffff;

// width
.width{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 200px;
}

h1{
    display: inline-block;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    color: $mc;
}
h2{
    display: inline-block;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    color: $mt;
}
h4{
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.02em;
    line-height: 1.6;
}
::selection{
    background: $mt;
    color: $w;
}